@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Episodes</h2>

    <div class="row">

        <div class="col-sm-12 col-md-4">

            <div class="thumbnail">
                <img src="https://unsplash.it/300/200/?random" alt="..." class="img-responsive center-block">
                <div class="caption text-center">
                    <h3>Episode 101</h3>
                    <p>Long description of the episode</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4">

            <div class="thumbnail">
                <img src="https://unsplash.it/300/200/?random" alt="..." class="img-responsive center-block">
                <div class="caption text-center">
                    <h3>Episode 101</h3>
                    <p>Long description of the episode</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4">

            <div class="thumbnail">
                <img src="https://unsplash.it/300/200/?random" alt="..." class="img-responsive center-block">
                <div class="caption text-center">
                    <h3>Episode 101</h3>
                    <p>Long description of the episode</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4">

            <div class="thumbnail">
                <img src="https://unsplash.it/300/200/?random" alt="..." class="img-responsive center-block">
                <div class="caption text-center">
                    <h3>Episode 101</h3>
                    <p>Long description of the episode</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4">

            <div class="thumbnail">
                <img src="https://unsplash.it/300/200/?random" alt="..." class="img-responsive center-block">
                <div class="caption text-center">
                    <h3>Episode 101</h3>
                    <p>Long description of the episode</p>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4">

            <div class="thumbnail">
                <img src="https://unsplash.it/300/200/?random" alt="..." class="img-responsive center-block">
                <div class="caption text-center">
                    <h3>Episode 101</h3>
                    <p>Long description of the episode</p>
                </div>
            </div>

        </div>

    </div>
</div>